body {
    background:rgba(207, 69, 69, 0.17);
    font : normal 20pt arial;
    text-align: center;
}

header {
    text-align: center;
}

input[type="button"] {
  width: 150px;      
  height: 50px;      
  font-size: 20px; 
  margin: 5px;}