body {
    background:rgba(237, 194, 133, 0.386);
    font : normal 15pt arial;
    text-align: center;
}

header {
    text-align: center;
}
section{
    background-color: rgba(241, 215, 183, 0.901);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}