body{
    background: #eba657;
    font: normal 15pt arial;

header {
    color: white;
    text-align: center;
    
}
#foto {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
}
section{
background: white;
border-radius: 10px;
padding:15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.629);
}
footer {
    color: white;
    text-align : center;
    font-style: italic;
}

